Repository blitz-js/blitz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flybayer, @merelinguist, @ryardley, @aem

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @flybayer
*.md @merelinguist

packages/server/**/* @ryardley
packages/file-pipeline/**/* @ryardley
packages/cli/**/* @aem
packages/generator/**/* @aem
packages/gui/**/* @merelinguist
packages/installer/**/* @aem

Added to example and template
  examples/store/app/admin/pages/admin/products/[id].tsx
  packages/generator/templates/page/__modelIdParam__/edit.tsx
Owners: @flybayer, @aem

fix(cli): allow 'blitz help' command anywhere
  packages/cli/src/check-before-running.ts
Owners: @aem

rename `useRouterParams` to `useParams`
  examples/store/app/admin/pages/admin/products/[id].tsx
  packages/core/src/index.ts
  packages/core/src/use-params.ts
  packages/core/test/use-params.test.ts
Owners: @flybayer

Tidy up normalize code so it is clearer
  packages/server/src/stages/pages/find-duplicates.test.ts
  packages/server/src/stages/pages/pages.test.ts
Owners: @ryardley

Rewrite writer to correctly report that file has been deleted
  packages/file-pipeline/src/events.ts
  packages/file-pipeline/src/helpers/writer.ts
Owners: @ryardley

Apply transform to file-pipeline
  packages/file-pipeline/src/helpers/enrich-files.ts
  packages/file-pipeline/src/helpers/file-cache.ts
  packages/file-pipeline/src/helpers/unlink.ts
  packages/file-pipeline/src/helpers/work-optimizer.ts
  packages/file-pipeline/src/index.ts
  packages/file-pipeline/src/test-utils.ts
  packages/file-pipeline/src/transform.test.ts
  packages/file-pipeline/src/transform.ts
  packages/file-pipeline/src/types.ts
  packages/file-pipeline/src/utils.ts
  packages/server/src/stages/config/index.ts
  packages/server/src/stages/manifest/index.ts
  packages/server/src/stages/pages/index.ts
  packages/server/src/stages/relative/index.ts
  packages/server/src/stages/rpc/index.ts
Owners: @ryardley

Debug windows issues
  .github/workflows/main.yml
  packages/file-pipeline/src/transform.test.ts
Owners: @flybayer, @ryardley

Fix up action changes to run all tests
  .github/workflows/main.yml
Owners: @flybayer

Do not warn on nested route errors (#601)
  packages/file-pipeline/src/index.ts
  packages/file-pipeline/src/types.ts
  packages/server/src/stages/pages/errors.ts
  packages/server/src/stages/pages/find-duplicates.test.ts
  packages/server/src/stages/pages/index.ts
  packages/server/src/stages/pages/pages-path-transformer.test.ts
  packages/server/src/stages/pages/pages.test.ts
  packages/server/src/stages/utils.ts
Owners: @ryardley

Fix bad merge
  packages/server/src/stages/pages/index.ts
Owners: @ryardley

Fire ready event as string down pipeline
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
  packages/file-pipeline/src/helpers/agnostic-source/fixtures/one
  packages/file-pipeline/src/helpers/agnostic-source/fixtures/two
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
  packages/file-pipeline/src/helpers/idle-handler.test.ts
  packages/file-pipeline/src/helpers/idle-handler/idle-handler.test.ts
  packages/file-pipeline/src/helpers/idle-handler/index.ts
Owners: @ryardley

Fire ready event always
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
Owners: @ryardley

Debugging: Try skip live watching test
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
Owners: @ryardley

Close stream in test
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
Owners: @ryardley

Add comment
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
Owners: @ryardley

Don't create the watcher unless we are in watch mode
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
Owners: @ryardley

Add universal stream abstraction (#615)
  packages/file-pipeline/src/events.ts
  packages/file-pipeline/src/helpers/enrich-files.ts
  packages/file-pipeline/src/helpers/file-cache.ts
  packages/file-pipeline/src/helpers/unlink.ts
  packages/file-pipeline/src/helpers/work-optimizer.ts
  packages/file-pipeline/src/helpers/writer.ts
  packages/file-pipeline/src/index.ts
  packages/file-pipeline/src/test-utils.ts
  packages/file-pipeline/src/transform.test.ts
  packages/file-pipeline/src/transform.ts
  packages/file-pipeline/src/types.ts
  packages/file-pipeline/src/utils.ts
  packages/server/src/stages/config/index.ts
  packages/server/src/stages/manifest/index.ts
  packages/server/src/stages/pages/index.ts
  packages/server/src/stages/relative/index.ts
  packages/server/src/stages/rpc/index.ts
Owners: @ryardley

fix typeing of mutate
  examples/store/app/admin/pages/admin/products/[id].tsx
  packages/core/src/use-infinite-query.ts
  packages/core/src/use-paginated-query.ts
  packages/core/src/use-query.ts
  packages/core/src/utils/query-cache.ts
Owners: @flybayer

Use hasbin to determine if Yarn is installed
  packages/gui/app/mutations/createProject.ts
  packages/gui/package.json
Owners: @merelinguist

Add `useQuery` mutate function for updating query cache (#596)
  README.md
  examples/store/app/admin/pages/admin/products/[id].tsx
  packages/core/src/types.ts
  packages/core/src/use-infinite-query.ts
  packages/core/src/use-paginated-query.ts
  packages/core/src/use-query.ts
  packages/core/src/utils/query-cache.ts
  packages/generator/templates/page/__modelIdParam__/edit.tsx
Owners: @merelinguist, @flybayer, @aem

Fix 'blitz help' not working from global cli (#613)
  packages/cli/src/check-before-running.ts
Owners: @aem

Add types declaration for hasbin
  packages/gui/types/index.d.ts
Owners: @merelinguist

Reorder dependencies to be ordered alphabetically
  packages/gui/package.json
Owners: @merelinguist

[GUI] Fallback to NPM when Yarn isn't installed (#621)
  packages/gui/app/mutations/createProject.ts
  packages/gui/package.json
  packages/gui/types/index.d.ts
Owners: @merelinguist

fix failed merge
  examples/store/app/admin/pages/admin/products/[id].tsx
Owners: @flybayer

Add `useParams` and `useRouterQuery` hooks (#574)
  examples/store/app/admin/pages/admin/products/[id].tsx
  examples/store/app/admin/pages/admin/products/index.tsx
  examples/store/cypress/integration/admin/products/index.test.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/use-params.ts
  packages/core/src/use-router-query.ts
  packages/core/test/use-params.test.ts
Owners: @flybayer

Update agnostic-source.test.ts
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
Owners: @ryardley

Wait for close promise to end before starting other test
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
Owners: @ryardley

Debug watcher limit issue
  .github/workflows/main.yml
Owners: @flybayer

Try increasing watchers
  .github/workflows/main.yml
Owners: @flybayer

Try increasing watchers after dependency installation
  .github/workflows/main.yml
Owners: @flybayer

Only increase watchers in linux
  .github/workflows/main.yml
Owners: @flybayer

Only increase watchers in linux
  .github/workflows/main.yml
Owners: @flybayer

Fix bad os selection
  .github/workflows/main.yml
Owners: @flybayer

Fix ready event bug (#616)
  .github/workflows/main.yml
  packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts
  packages/file-pipeline/src/helpers/agnostic-source/fixtures/one
  packages/file-pipeline/src/helpers/agnostic-source/fixtures/two
  packages/file-pipeline/src/helpers/agnostic-source/index.ts
  packages/file-pipeline/src/helpers/idle-handler.test.ts
  packages/file-pipeline/src/helpers/idle-handler/idle-handler.test.ts
  packages/file-pipeline/src/helpers/idle-handler/index.ts
Owners: @flybayer, @ryardley

Add unit tests
  packages/file-pipeline/src/helpers/work-optimizer/README.md
  packages/file-pipeline/src/helpers/work-optimizer/index.ts
  packages/file-pipeline/src/helpers/work-optimizer/work-optimizer.test.ts
  packages/file-pipeline/src/helpers/writer/index.ts
  packages/file-pipeline/src/helpers/writer/write.test.ts
  packages/file-pipeline/src/pipeline.ts
  packages/file-pipeline/src/transform-files/index.ts
  packages/file-pipeline/src/transform-files/transform-files.test.ts
Owners: @ryardley

Simplify use of through
  packages/file-pipeline/src/helpers/idle-handler/idle-handler.test.ts
  packages/file-pipeline/src/helpers/writer/write.test.ts
  packages/file-pipeline/src/pipeline.ts
  packages/file-pipeline/src/transform-files/index.ts
Owners: @ryardley

Add back comment
  packages/file-pipeline/src/helpers/writer/index.ts
Owners: @ryardley
