Repository blitz-js/blitz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flybayer, @merelinguist, @ryardley, @aem

Refactors git methods
  packages/generator/src/generators/app-generator.ts
  packages/generator/test/generators/app-generator.test.ts
Owners: @aem

Adds yarn test:watch mode
  packages/generator/package.json
Owners: @aem

Fix fetchRemote dev script to be sh compatible (#406)
  scripts/fetchRemote.sh
Owners: @flybayer

Remove extraneous console.log (#411)
  packages/generator/src/generator.ts
Owners: @aem

Fix postcss purge routes on Tailwind example (#381)
  examples/tailwind/tailwind.config.js
Owners: @flybayer

:pencil: add node-pty troubleshooting on WSL
  CONTRIBUTING.md
Owners: @merelinguist

Add step to check test time
  .github/checkInstallTime.js
  .github/workflows/main.yml
Owners: @flybayer

Contributing.md: Add node-pty troubleshooting for WSL (#419)
  CONTRIBUTING.md
Owners: @merelinguist

Update README.md
  README.md
Owners: @merelinguist

Add instructions on how to generate a plain JS project (#407)
  TUTORIAL.md
  USER_GUIDE.md
Owners: @merelinguist

Add null-loader for @prisma/client to fix child_process crashes
  packages/server/src/with-blitz.ts
  yarn.lock
Owners: @ryardley, @flybayer

Add null-loader for @prisma/client to fix child_process crashes (#423)
  packages/server/src/with-blitz.ts
  yarn.lock
Owners: @ryardley, @flybayer

Move generator path selection into subclass
  packages/cli/src/commands/generate.ts
  packages/generator/src/generator.ts
  packages/generator/src/generators/app-generator.ts
  packages/generator/src/generators/model-generator.ts
  packages/generator/src/generators/mutation-generator.ts
  packages/generator/src/generators/page-generator.ts
  packages/generator/src/generators/query-generator.ts
  yarn.lock
Owners: @aem, @flybayer

Fix badly broken `blitz generate` command! (#424)
  packages/cli/src/commands/generate.ts
  packages/generator/src/generator.ts
  packages/generator/src/generators/app-generator.ts
  packages/generator/src/generators/model-generator.ts
  packages/generator/src/generators/mutation-generator.ts
  packages/generator/src/generators/page-generator.ts
  packages/generator/src/generators/query-generator.ts
  yarn.lock
Owners: @aem, @flybayer

increase cli jest timeout (ignore)
  packages/cli/test/commands/new.test.ts
  yarn.lock
Owners: @aem, @flybayer

Initialize git before app generate to properly set up husky hooks (#399)
  packages/generator/package.json
  packages/generator/src/generators/app-generator.ts
  packages/generator/test/generators/app-generator.test.ts
Owners: @aem

v0.8.2-canary.0
  examples/store/package.json
  examples/tailwind/package.json
  lerna.json
  packages/blitz/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/generator/package.json
  packages/server/package.json
Owners: @flybayer, @aem, @ryardley

v0.8.2-canary.1
  examples/store/package.json
  examples/tailwind/package.json
  lerna.json
  packages/blitz/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/generator/package.json
  packages/server/package.json
Owners: @flybayer, @aem, @ryardley

add missing generator dependency to `blitz`
  packages/blitz/package.json
Owners: @flybayer

v0.8.2-canary.2
  examples/store/package.json
  examples/tailwind/package.json
  lerna.json
  packages/blitz/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/generator/package.json
  packages/server/package.json
Owners: @flybayer, @aem, @ryardley

Fix lint error for generated code about `confirm`
  packages/generator/templates/page/__id__.tsx
Owners: @aem

v0.8.2
  examples/store/package.json
  examples/tailwind/package.json
  lerna.json
  packages/blitz/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/generator/package.json
  packages/server/package.json
Owners: @flybayer, @aem, @ryardley

chore: remove release from publish script (ignore)
  package.json
Owners: @flybayer

test(generator): ignore dist directory
  packages/generator/jest.config.js
Owners: @aem

extra pointing removed
  packages/server/src/log.ts
Owners: @ryardley

Update db.ts
  packages/cli/src/commands/db.ts
Owners: @aem

Missing part of path
  TUTORIAL.md
Owners: @merelinguist

test(generator): ignore dist directory (#427)
  packages/generator/jest.config.js
Owners: @aem

Correct path to index
  TUTORIAL.md
Owners: @merelinguist

Replace fixed react-query version
  packages/core/package.json
  yarn.lock
Owners: @flybayer

Implement better wait-on cascade
  packages/cli/package.json
  packages/generator/package.json
Owners: @aem

fix(generator): enable absolute path resolution in JS projects
  packages/generator/src/generators/app-generator.ts
  packages/generator/templates/app/jsconfig.json
Owners: @aem

Fix bug breaking absolute imports in JS projects (#433)
  packages/generator/src/generators/app-generator.ts
  packages/generator/templates/app/jsconfig.json
Owners: @aem

Enable React Fast Refresh
  package.json
  packages/server/src/with-blitz.ts
Owners: @flybayer, @ryardley

Adds --port and --hostname to blitz start and dev commands (#413)
  README.md
  TUTORIAL.md
  examples/store/package.json
  examples/tailwind/tailwind.config.js
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/start.ts
  packages/cli/test/commands/build.test.ts
  packages/cli/test/commands/start.test.ts
  packages/core/package.json
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/dev.ts
  packages/server/src/next-utils.ts
  packages/server/src/prod.ts
  packages/server/test/api-routes.test.ts
  packages/server/test/build.test.ts
  packages/server/test/dev.test.ts
  packages/server/test/rules.test.ts
  packages/server/test/vercel-now.test.ts
  yarn.lock
Owners: @merelinguist, @flybayer, @aem, @ryardley

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @flybayer
*.md @merelinguist

packages/server/**/* @ryardley
packages/cli/**/* @aem
packages/generator/**/* @aem
