Repository blitz-js/blitz, pull requests merged in 2020-04, with the labels that each got.

#25 refactor(cli): CLI refactoring
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/command.ts
  packages/cli/src/commands/new.ts
  packages/cli/src/errors/prompt-aborted.ts
  packages/cli/src/generator.ts
  packages/cli/src/generators/app.ts
  packages/cli/src/transforms/conflict-checker.ts
  packages/cli/tsconfig.json
  yarn.lock
Labels: cli

#106 feat(server): Warning about invalid routes/api structure
  examples/store/app/pages/about.tsx
  examples/store/app/pages/index.tsx
  examples/store/app/products/pages/products/[handle].tsx
  examples/store/app/products/pages/products/index.tsx
  packages/cli/README.md
  packages/server/src/synchronizer/check-duplicate-routes.ts
  packages/server/src/synchronizer/check-nested-api.ts
  packages/server/src/synchronizer/index.ts
  yarn.lock
Labels: enhancement, server

#143 Fix server for deployment to Zeit
  examples/store/blitz.config.js
  examples/store/package.json
  packages/cli/package.json
  packages/server/package.json
  packages/server/src/synchronizer/rules/config.ts
  packages/server/test/rules.test.ts
  yarn.lock
Labels: server

#147 Automatically run `blitz db migrate` on every `blitz start`
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/start.ts
  packages/cli/test/commands/start.test.ts
Labels: cli, enhancement

#128 Add the `blitz` package and proper global/local CLI handling
  .all-contributorsrc
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
  examples/store/.gitignore
  examples/store/app/admin/pages/admin/index.tsx
  examples/store/app/admin/pages/admin/products/[id].tsx
  examples/store/app/admin/pages/admin/products/index.tsx
  examples/store/app/admin/pages/admin/products/new.tsx
  examples/store/app/pages/index.tsx
  examples/store/app/products/pages/products/[handle].tsx
  examples/store/app/products/pages/products/index.tsx
  examples/store/package.json
  examples/vanilla-next/.gitignore
  examples/vanilla-next/README.md
  examples/vanilla-next/app/posts/controller.ts
  examples/vanilla-next/next-env.d.ts
  examples/vanilla-next/next.config.js
  examples/vanilla-next/package.json
  examples/vanilla-next/pages/index.tsx
  examples/vanilla-next/pages/posts/[...id].tsx
  examples/vanilla-next/tsconfig.json
  package.json
  packages/blitz/.gitignore
  packages/blitz/README.md
  packages/blitz/bin/blitz
  packages/blitz/jest.setup.js
  packages/blitz/package.json
  packages/blitz/rollup.config.js
  packages/blitz/src/bin/cli.ts
  packages/blitz/src/index.ts
  packages/blitz/src/utils/index.ts
  packages/blitz/test/todo.test.ts
  packages/blitz/tsconfig.json
  packages/blitz/types/index.d.ts
  packages/cli/README.md
  packages/cli/bin/run
  packages/cli/package.json
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/index.ts
  packages/cli/templates/app/package.json
  packages/cli/test/commands/db.test.ts
  packages/core/package.json
  packages/core/tsdx.config.js
  packages/server/bin/next-patched
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/resolve-bin-async.ts
  packages/server/src/resolve-bin.d.ts
  packages/server/src/withBlitz.ts
  packages/server/test/dev.test.ts
  yarn.lock
Labels: core

#153 Print help message for unsupported commands
  packages/cli/package.json
  packages/server/src/index.ts
  yarn.lock
Labels: cli

#170 Use latest versions for app template
  package.json
  packages/cli/package.json
  packages/cli/src/generators/app.ts
  packages/cli/src/utils/get-latest-version.ts
  packages/cli/src/utils/replace-dependencies.ts
  packages/cli/templates/app/.npmrc
  packages/cli/templates/app/package.json.ejs
  yarn.lock
Labels: cli

#195 Change blitz new install to cli version
  packages/cli/src/commands/new.ts
  packages/cli/src/generators/app.ts
  packages/cli/src/utils/get-latest-version.ts
  packages/cli/src/utils/npm-fetch.ts
  packages/cli/src/utils/replace-blitz-dependency.ts
Labels: cli, enhancement

#199 Beautify query/mutation logging and Refactor logger
  packages/core/src/rpc.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/log.ts
  packages/server/src/rpc.ts
  packages/server/src/synchronizer/errors.ts
  packages/server/src/synchronizer/pipeline/rules/rpc/index.ts
  packages/server/src/synchronizer/reporter.ts
Labels: core, enhancement

#307 Announcing Official Core Team and Maintainers + Maintainers.md and Governance.md
  .all-contributorsrc
  .github/CODEOWNERS
  GOVERNANCE.md
  MAINTAINERS.md
  README.md
Labels: priority/high, scope/meta
