Repository blitz-js/blitz, pull requests merged in 2023-03, with the labels that each got.

#4085 Make secure password completely optional
  .changeset/four-radios-tickle.md
  apps/toolkit-app-passportjs/src/auth/mutations/changePassword.ts
  apps/toolkit-app-passportjs/src/auth/mutations/login.ts
  apps/toolkit-app-passportjs/src/auth/mutations/resetPassword.ts
  apps/toolkit-app-passportjs/src/auth/mutations/signup.ts
  apps/toolkit-app/src/auth/mutations/changePassword.ts
  apps/toolkit-app/src/auth/mutations/login.ts
  apps/toolkit-app/src/auth/mutations/resetPassword.test.ts
  apps/toolkit-app/src/auth/mutations/resetPassword.ts
  apps/toolkit-app/src/auth/mutations/signup.ts
  apps/web/src/pages/api/signin.ts
  apps/web/src/pages/api/signup.ts
  integration-tests/auth-with-rpc/db/seed.ts
  integration-tests/auth/db/seed.ts
  integration-tests/auth/package.json
  integration-tests/auth/pages/api/signin.ts
  integration-tests/auth/test/index.test.ts
  packages/blitz-auth/build.config.ts
  packages/blitz-auth/package.json
  packages/blitz-auth/secure-password.d.ts
  packages/blitz-auth/secure-password.js
  packages/blitz-auth/src/server/index.ts
  packages/codemod/src/index.ts
  packages/codemod/src/secure-password.ts
  packages/generator/templates/app/src/auth/mutations/changePassword.ts
  packages/generator/templates/app/src/auth/mutations/login.ts
  packages/generator/templates/app/src/auth/mutations/resetPassword.test.ts
  packages/generator/templates/app/src/auth/mutations/resetPassword.ts
  packages/generator/templates/app/src/auth/mutations/signup.ts
  pnpm-lock.yaml
Labels: status/in-review, scope/blitz-auth

#4046 feature: Next Auth Adapter
  .changeset/fast-adults-guess.md
  apps/toolkit-app/next.config.js
  apps/toolkit-app/package.json
  apps/toolkit-app/src/custom-plugin/plugin.ts
  apps/toolkit-app/src/pages/api/auth/[...nextauth].ts
  apps/toolkit-app/src/pages/index.tsx
  packages/blitz-auth/.eslintignore
  packages/blitz-auth/build.config.ts
  packages/blitz-auth/next-auth.d.ts
  packages/blitz-auth/next-auth.js
  packages/blitz-auth/package.json
  packages/blitz-auth/src/server/adapters/index.ts
  packages/blitz-auth/src/server/adapters/next-auth.ts
  packages/blitz-auth/src/server/adapters/next-auth/adapter.ts
  packages/blitz-auth/src/server/adapters/next-auth/internals/LICENSE
  packages/blitz-auth/src/server/adapters/next-auth/internals/README.md
  packages/blitz-auth/src/server/adapters/next-auth/internals/core/types.ts
  packages/blitz-auth/src/server/adapters/next-auth/internals/utils/node.ts
  packages/blitz-auth/src/server/adapters/next-auth/internals/utils/parse-url.ts
  packages/blitz-auth/src/server/adapters/next-auth/internals/utils/web.ts
  packages/blitz-auth/src/server/adapters/next-auth/types.ts
  packages/blitz-auth/src/server/adapters/next-auth/webpack.ts
  packages/blitz-auth/src/server/adapters/passport/adapter.ts
  packages/blitz-auth/src/server/adapters/passport/types.ts
  packages/blitz-auth/src/server/index.ts
  packages/blitz-auth/vitest.config.ts
  packages/blitz-next/scripts/postinstall.js
  packages/blitz-next/src/index-server.ts
  packages/blitz-rpc/src/index-server.ts
  packages/blitz/package.json
  packages/blitz/src/cli/commands/install.ts
  packages/blitz/src/cli/utils/find-node-modules.ts
  packages/blitz/src/cli/utils/routes-manifest.ts
  packages/blitz/src/errors.ts
  packages/blitz/src/index-browser.tsx
  packages/blitz/src/index-server.ts
  pnpm-lock.yaml
Labels: status/in-review, scope/blitz-auth, published/npm

#4103 feature: Nextjs 13 App Directory Utility Methods
  .changeset/tall-radios-clean.md
  apps/next13/app/auth/layout.tsx
  apps/next13/app/auth/login/page.tsx
  apps/next13/app/page.tsx
  apps/next13/src/blitz-server.ts
  packages/blitz-auth/src/server/auth-plugin.ts
  packages/blitz-auth/src/server/auth-sessions.ts
  packages/blitz-rpc/src/client/invoke.ts
  packages/blitz-rpc/src/index-server.ts
  packages/blitz-rpc/src/server/plugin.ts
Labels: status/in-review

#4108 Fix Next 13.2 compatibility
  .changeset/fast-pans-impress.md
  apps/next13/package.json
  apps/toolkit-app-passportjs/package.json
  apps/toolkit-app/package.json
  apps/web/package.json
  integration-tests/auth-with-rpc/package.json
  integration-tests/auth-with-rpc/test/index.test.ts
  integration-tests/auth/package.json
  integration-tests/get-initial-props/package.json
  integration-tests/middleware/package.json
  integration-tests/next-13-app-dir/package.json
  integration-tests/no-suspense/package.json
  integration-tests/qm/package.json
  integration-tests/react-query-utils/package.json
  integration-tests/rpc-path-root/package.json
  integration-tests/rpc/package.json
  integration-tests/trailing-slash/package.json
  package.json
  packages/blitz-auth/package.json
  packages/blitz-next/package.json
  packages/blitz-next/src/index-server.ts
  packages/blitz-rpc/package.json
  packages/blitz/src/cli/utils/codegen-tasks.ts
  packages/generator/templates/app/package.js.json
  packages/generator/templates/app/package.ts.json
  packages/generator/templates/minimalapp/package.js.json
  packages/generator/templates/minimalapp/package.ts.json
  pnpm-lock.yaml
Labels: status/in-review, 0 - <(^_^)> - merge it! ✌️
